[Unit]
Description=DHT
After=multi-user.target

[Service]
User=pi
Type=simple
ExecStart=/usr/bin/python /home/pi/DHTSimpleApi/dht.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
