[Unit]
Description=DHT
After=multi-user.target

[Service]
WorkingDirectory=/home/pi/
User=pi
Type=simple
ExecStart=/usr/bin/python /home/pi/DHTSimpleApi/dht.py
Restart=always

[Install]
WantedBy=multi-user.target
